:root {
  --black-color: #010000;
  --white-color: #ffffff;
  --lightgray-color: #e6e6e6;
}

.App {
  font-size: 18px;
  height: 100vh;
  width: 100%;
  /* font-weight: 400; */
  /* font-style: normal; */
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: black;
  color: white;
  height: 90px;
  position: fixed;
  z-index: 10;
}

header .logo h3 {
  margin: 0;
  padding: 0;
  color: white;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  font-size: 19px;
  text-decoration: none;
  color: var(--white-color);
  transition: all 0.2s;
}

nav ul li a:hover {
  color: #48b4af;
}

.container {
   padding: 170px;
}

.container h1 {
  text-align: center;
  font-size: 50px;
}

.profile-info {
  position: relative;
  text-align: center;
  height: 70vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scroll-indicator {
  position: absolute;
  bottom: 20px; 
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #888;
  animation: scrollAnimation 2s infinite;
}

.scroll-indicator p {
  margin: 0;
}

.scroll-indicator span {
  display: block;
  width: 24px;
  height: 24px;
  border: solid #888;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  margin: 10px auto;
}

@keyframes scrollAnimation {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

img {
  width: 100%; 
  height: auto; 
}

.portimg {
  object-fit: cover;
}

.service {
  margin-top: 300px; 
  margin-bottom: 60px;
}

#skill img {
  object-fit: cover;
  margin-bottom: 12px;
  margin-top: 12px;
  height: 300px;
}

#skill {
  margin-bottom: 100px;
}

.container1 {
  height: 100vh;
  /* padding-top: 120px; */
 
}


.container1 .font {
  margin-top: 60px;
  word-wrap: break-word;
  width: 50%;
  text-align: start;
  
}
.icon-spacing {
  margin-right: 20px;
}

.produce {
  text-align: center;
  margin-bottom: 100px;
}

.container1 .img {
  object-fit: cover;
}

.container1 .word {
  margin-top: 30px;
  
}

.container1 .word1 {
  margin-top: 30px;
}

.future {
  text-align: center;
  
}

.future p {
  /* padding-top: 70px; */
  /* padding-bottom: 100px; */
  margin: 16px 0;
}

.future .card0 {
margin-bottom: 30px;
}

.future .card1 {
  margin-bottom: 30px;
}

.future .card2 {
  margin-bottom: 30px;
}

#future .button {
  border-radius: 10px;
}

.charts-container {
  display: flex;
  justify-content: space-around;
}

.chart {
  width: 40%; /* グラフの横幅を調整 */
  margin: 10px; /* グラフの間隔を調整 */
}

.chart-text {
  margin-top: 90px;
}

.chart-text ul {
  list-style-type: none; /* リストのマーカーを削除 */
  padding: 0; /* デフォルトのパディングを削除 */
  margin: 0; /* デフォルトのマージンを削除 */
}

.chart-text li::before {
  content: ""; /* マーカーを削除 */
}

.title {
  margin-bottom: 70px; 
}

.timeline-item {
  border-left: 2px solid #3498db;
  padding-left: 20px;
  position: relative;
  margin-bottom: 40px;
}

.timeline-content {
  position: relative;
}

.timeline-content h4 {
  font-size: 24px;
  color: #3498db;
  margin-bottom: 5px;
}

.timeline-content h5 {
  font-size: 18px;
  margin-bottom: 10px;
}

.timeline-content p {
  font-size: 16px;
  color: #666;
  margin-bottom: 0;
}

.custom-button {
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #2980b9;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 400px;
  width: 400px;
}